.introducao2-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 40px 40px 20px;
}
.introducao2-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 60px;
}

.introducao2-conteudo .h2-ilha {
  font-size: 3rem;
  margin-bottom: 10px;
}

.introducao2-conteudo .h2-piscinas {
  padding-top: 40px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.introducao2-conteudo h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 10px;
}

.introducao2-conteudo p {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 40px;
}

.introducao2-conteudo img {
  border-radius: 6px;
}

.introducao2-conteudo .img-piscinas {
  height: 550px;
  width: 550px;
  border-radius: 20px;
}

/* INTRODUCAO 3 */

.introducao3-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 40px 40px 20px;
  margin-bottom: 40px;
}
.introducao3-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 60px;
}

.introducao3-conteudo .h2-ilha {
  font-size: 3rem;
  margin-bottom: 10px;
}

.introducao3-conteudo .h2-piscinas {
  padding-top: 40px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.introducao3-conteudo h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 10px;
}

.introducao3-conteudo p {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 40px;
}

.introducao3-conteudo img {
  border-radius: 6px;
}

.introducao3-conteudo .img-piscinas {
  height: 550px;
  width: 550px;
  border-radius: 20px;
}

@media (max-width: 780px) {
  .introducao2-conteudo,
  .introducao3-conteudo {
    grid-template-columns: 1fr;
    padding: 50px 20px 40px 20px;
  }

  .introducao3-conteudo .img-piscinas {
    height: initial;
    width: initial;
    max-width: 100%;
  }

  .div-row {
    grid-row: 1;
  }
}

@media (max-width: 420px) {
  .introducao2-container,
  .introducao3-container {
    padding: 50px 5px 40px 5px;
  }

  .introducao3-conteudo .img-piscinas {
    max-width: 100%;
    border-radius: 10px;
  }
}