.principais-servicos-bg {
  background-color: #f7f8f9;
}
.principais-servicos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 40px 40px 20px;
}

.principais-servicos-conteudo h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.3;
}

.principais-servicos-conteudo p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
}

.principais-servicos-lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
}

.principais-servicos-lista li {
  overflow: hidden;
  position: relative;
}

.principais-servicos-div {
  transition: filter, transform 0.6s;
}

.principais-servicos-lista img {
  max-width: 340px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.principais-servicos-lista .principais-servicos-div:hover {
  transform: scale(1.1);
}

.principais-servicos-lista p {
  color: var(--cor-0);
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 100px;
  left: 100px;
  text-shadow: 2px 4px 2px black;
}

@media (max-width: 500px) {
  .principais-servicos-lista {
    margin: 0px 30px;
  }
}

@media (max-width: 440px) {
  .principais-servicos-lista img {
    max-width: 310px;
  }
}
