.principais-servicos-bg {
  background-color: #f7f8f9;
}
.principais-servicos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 40px 40px 20px;
}

.principais-servicos-conteudo h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.3;
}

.principais-servicos-conteudo p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
}

.principais-servicos-lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
}

.principais-servicos-lista li {
  overflow: hidden;
}

.principais-servicos-div {
  transition: filter, transform 0.6s;
  width: 280px;
  height: 350px;
  border-radius: 20px;
}

.principais-servicos-lista .principais-servicos-div:hover {
  transform: scale(1.1);
}

#passeio-1 {
  background: url(../../imgs/passeio-2.jpg);
  background-position: center center;
  background-size: cover;
}

#passeio-2 {
  background: url(../../imgs/passeio-3.jpg);
  background-position: center center;
  background-size: cover;
}

#passeio-3 {
  background: url(../../imgs/passeio-1.jpg);
  background-position: center center;
  background-size: cover;
}

#passeio-4 {
  background: url(../../imgs/passeio-4.jpg);
  background-position: center center;
  background-size: cover;
}

#passeio-5 {
  background: url(../../imgs/passeio-5.jpg);
  background-position: center center;
  background-size: cover;
}

.principais-servicos-lista p {
  color: var(--cor-0);
  font-size: 2rem;
  text-align: center;
  padding-top: 200px;
  font-weight: 600;
  text-shadow: 2px 4px 2px black;
}

@media (max-width: 500px) {
  .principais-servicos-lista {
    margin: 0px 30px;
  }
}

@media (max-width: 440px) {
  .principais-servicos-div {
    width: 310px;
    height: 310px;
  }
}
