

.promocoes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 120px 20px;
}

.promocoes-conteudo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.promocoes-pacotes li{
  margin-bottom: 30px;
}

.promocoes-pacotes span {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}

.promocoes-pacotes p{
  font-weight: 600;
}

.pacote {
  justify-content: space-between;
  display: flex;
}
