.js-li-scroll1{
  opacity: 0;
  transform: translate3d(-60px, 0, 0);
  transition: .9s;
}

.js-li-scroll1.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-li-scroll2{
  opacity: 0;
  transform: translate3d(60px, 0, 0);
  transition: .9s;
}

.js-li-scroll2.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-li-scroll3{
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  transition: .9s;
}

.js-li-scroll3.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}