.alugueis-duster-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 40px 20px;
}

.alugueis-duster-conteudo h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.alugueis-duster-conteudo p{
  font-weight: 600;
    margin-bottom: 40px;
}

.lista-alugueis-duster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 10px;
}

.lista-alugueis-duster img {
  margin-bottom: 40px;
  border-radius: 20px;
}

.lista-alugueis-duster h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.lista-alugueis-duster p {
  max-width: 36ch;
  line-height: 1.3;
  margin-bottom: 40px;
  font-weight: 600;
}

.alugueis-duster-conteudo .btn-padrao-3{
  background-color: #FF535F;
}

.alugueis-duster-conteudo .btn-padrao-3:hover{
  background-color: var(--cor-1);
  color: var(--cor-0);
}


@media (max-width: 780px) {
  .lista-alugueis-duster {
    grid-template-columns: 1fr;
    gap: 20px 10px;
  }
}

@media (max-width: 700px) {
  .alugueis-duster-conteudo h1 {
      font-size: 3rem;
  }


}