.alugueis-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 40px 20px;
}

.alugueis-motos-conteudo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.alugueis-motos-conteudo p {
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 60ch;
}

.alugueis-motos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.alugueis-motos img {
  margin-bottom: 40px;
}

.alugueis-motos h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.alugueis-motos p {
  max-width: 60ch;
  font-weight: 600;
}

.alugueis-motos-conteudo .btn-padrao-3{
  background-color: #FF535F;
}


@media (max-width: 780px) {
  .alugueis-motos {
    grid-template-columns: 1fr;
    gap: 20px 10px;
  }
}

@media (max-width: 700px) {
  .alugueis-conteudo h1 {
      font-size: 3rem;
  }
}